<%- include header %>
<p class="info">
    Author: <a href="/p/<%=post._id%>"><%= post.name%></a>
    Date: <%= post.time%>
    <span class="label label-danger"><%= post.category%></span>
</p>
<pre><%- post.content%></pre>
<% if (locals.user) {%>
<% if (locals.user.name == post.name){ %>
<div>
    <a href="/edit/<%= post._id%>" class="btn btn-default">Edit</a>
    <a href="/remove/<%= post._id%>" class="btn btn-default">Remove</a>
</div>
<% } %>
<% } %>
<%- include comment %>
<%- include footer %>