<%- include header %>
<div class="container">
    <h1 class="writer"><%= title %></h1>
        <div ng-app="myApp" class="main">
            <div ng-controller="customersCtrl" ng-init="postid = '<%=postId%>'">
                <div class="row">
                <div ng-repeat="post in posts" ng-cloak>
                    <div ng-if="post._id == postid">

                        <div class="col-sm-offset-1 col-xs-11">
                            <p class="info">
                                Author: <a ng-href="/p/{{post._id}}">{{post.name}}</a>
                                Date: {{post.time}}
                                <span class="label label-danger">{{post.category}}</span>
                            </p>
                            <div ng-bind-html="post.content | sanitize"></div>
                            <% if (locals.user) {%>
                            <div ng-init="user = '<%- locals.user.name%>'" class="text-center">
                                <a ng-if="post.name == user" ng-href="/edit/{{post._id}}" class="btn btn-default">Edit</a>
                                <a ng-if="post.name == user" ng-href="/remove/{{post._id}}" class="btn btn-default">Remove</a>
                            </div>
                            <% } %>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-xs-12 col-sm-4">
                                <a class="btn btn-link" ng-href="/p/{{posts[$index-1]._id}}" ng-show="!$first">Previous: {{posts[$index-1].title}}</a>
                            </div>
                            <div class="col-sm-offset-3 col-xs-12 col-sm-4">
                                <a class="btn btn-link" ng-href="/p/{{posts[$index+1]._id}}" ng-show="!$last">Next: {{posts[$index+1].title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <%- include comment %>

        </div>

</div>
<%- include footer %>