<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta property="qc:admins" content="35003737402441260527351006375" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/nicedit.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
        //]]>
    </script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/fontawesome/css/font-awesome.min.css' />
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/typed.js"></script>
    <script src="/js/dirPagination.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/animation.js"></script>
    <script>
      $('.close').click(function(){
        $(this).parent().removeClass('in');
      });
    </script>
  </head>
  <body>
  <header class="nav navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= title == 'Home' ? 'active' : ''%>"><a title="home" href="/">Home</a></li>
        <li class="<%= title == 'Blog' ? 'active' : ''%>"><a title="archive" href="/blog">Blog</a></li>
        <li class="<%= title == 'Projects' ? 'active' : ''%>"><a title="about me" href="/project">Projects</a></li>
        <li class="<%= title == 'About Me' ? 'active' : ''%>"><a title="about me" href="/about">About</a></li>
        <li class="<%= title == 'Get In Touch' ? 'active' : ''%>"><a title="contact" href="/contact">Contact</a></li>
      </ul>
      <div class="dropdown">
        <ul class="nav navbar-nav pull-right">
          <% if (locals.user){%>
          <li>
            <a title="user" type="button" class="dropdown-toggle" data-toggle="dropdown" href="/u/<%= locals.user.name%>">
              <span class="profile-img" style="background-image: url(/images/<%=locals.user.name%>)"></span><%= locals.user.name%><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/post">Post</a></li>
              <li><a href="/upload">Upload</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          </ul>
        </div>
        <!--<li class="<%= title == 'Post' ? 'active' : ''%>"><a title="post" href="/post">Post</a></li>-->
        <!--<li class="<%= title == 'Upload' ? 'active' : ''%>"><a title="upload" href="/upload">Upload</a></li>-->
        <!--<li class="<%= title == 'Logout' ? 'active' : ''%>"><a title="logout" href="/logout">Logout</a></li>-->
        <%} else{%>
        <li class="<%= title == 'Login' ? 'active' : ''%>"><a title="login" href="/login">Login</a></li>
        <li class="<%= title == 'Register' ? 'active' : ''%>"><a title="register" href="/reg">Register</a></li>
        <% } %>
      </ul>
    </div>

  </header>
  <% if (locals.success){ %>
    <div id="success-alert" class="alert alert-success fade in">
      <a class="close" data-dismiss="alert" herf="#" aria-hidden="true">&times;</a>
      <%= locals.success %>
    </div>
  <% }%>
  <% if (locals.error) {%>
    <div id="error-alert" class="alert alert-warning fade in">
      <a class="close" data-dismiss="alert" herf="#" aria-hidden="true">&times;</a>
      <%= locals.error%>
    </div>
  <% } %>

