<%- include header.ejs%>
Welcome to Home page
<% locals.posts.forEach(function (post,index){ %>
    <p><h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2></p>
    <span class="label label-danger"><%= post.category%></span>
    <p class="info">
        Author: <a href="#"><%= post.name %></a>
        Date: <%= post.time %>
    </p>
    <p><%- post.content %></p>
<% })%>
<%- include footer.ejs%>