<!DOCTYPE html>
<html>
<head lang="en">
    <title>Personal Resume - Tianheng Zhou</title>
    <meta charset="UTF-8">
    <meta name="author" content="Tianheng Zhou" />
    <meta name="description" content="Tianheng Zhou's Personal Resume" />
    <meta name="keywords"  content="fullpage,jquery,resume" />
    <meta name="Resource-type" content="Document" />
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/fontawesome/css/font-awesome.min.css' />
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/resume.js"></script>
    <script>
        $('.close').click(function(){
            $(this).parent().removeClass('in');
        });
    </script>
</head>
<body>
    <header class="nav navbar-default navbar-fixed-top">
    <div class="container" style="margin: auto">
        <ul class="nav navbar-nav">
            <li class="<%= title == 'THZLAB' ? 'active' : ''%>"><a title="home" href="/">THZLAB</a></li>
            <li class="<%= title == 'Archive' ? 'active' : ''%>"><a title="archive" href="/archive">Archive</a></li>
            <% if (locals.user){%>
            <li class="<%= title ==  locals.user.name ? 'active' : ''%>"><a title="post" href="/u/<%= locals.user.name%>"><%= locals.user.name%></a></li>
            <li class="<%= title == 'Post' ? 'active' : ''%>"><a title="post" href="/post">Post</a></li>
            <li class="<%= title == 'Upload' ? 'active' : ''%>"><a title="upload" href="/upload">Upload</a></li>
            <li class="<%= title == 'Logout' ? 'active' : ''%>"><a title="logout" href="/logout">Logout</a></li>
            <%} else{%>
            <li class="<%= title == 'Login' ? 'active' : ''%>"><a title="login" href="/login">Login</a></li>
            <li class="<%= title == 'Register' ? 'active' : ''%>"><a title="register" href="/reg">Register</a></li>
            <% } %>
            <li class="<%= title == 'Resume' ? 'active' : ''%>"><a title="resume" href="/resume">Resume</a></li>
            <li class="<%= title == 'Portfolio' ? 'active' : ''%>"><a title="portfolio" href="/portfolio">Portfolio</a></li>
        </ul>

    </div>

</header>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div id="photo"><img src="/Profile.jpg" alt="avatar"/>


            </div>
            <div id="text-header">
                <h1>Hello,<br/>my name is Tianheng Zhou<sup>27yo</sup></h1>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h2>About me</h2>
                <p>Full Stack Web Developer with project experience. Interesting in front-end and back-end
                    design using MEAN stack, Javascript, jQuery, bootstrap and responsive HTML/CSS.</p>
            </div>
            <div class="box">
                <h2>Experiences</h2>

                <div class="job clearfix">
                    <div class="col-xs-3">
                        <div class="where">Techbow LLC</div>
                        <div class="year">2015 - Present</div>
                    </div>
                    <div class="col-xs-9">
                        <div class="profession">Full Stack Web Developer (Part time)</div>
                        <div class="description">
                            Project oriented training to be Full Stack Engineer via currently most popular tool set:
                            MEAN Stack. The training covers from fundamental of HTML, CSS and Javascript to the usage
                            of AngularJs, Node.js, Express.js and Mongo DB.

                        </div>
                    </div>
                </div>
                <div class="job clearfix">
                    <div class="col-xs-3">
                        <div class="where">Google</div>
                        <div class="year">2015 - Present</div>
                    </div>
                    <div class="col-xs-9">
                        <div class="profession">Test Engineer</div>
                        <div class="description">Responsible of testing Fiber CPE device provision and WiFi
                            Captive Portal. The test cases mainly focus on new feature verification, weekly regression
                            and WebUI testing. Also design script for automating test and result verification via Selenium
                            Webdriver and Fabric Python Library.
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>EDUCATION</h2>
                <ul id="education" class="clearfix">
                    <li>
                        <div class="year pull-left">2006</div>
                        <div class="description pull-right">
                            <h3>Suzhou University</h3>
                            <p>Bachelor of Science. Optical and Information Technology</p>
                        </div>
                    </li>
                    <li>
                        <div class="year pull-left">2012</div>
                        <div class="description pull-right">
                            <h3>Oregon State University</h3>
                            <p>Master of Engineering. Electrical and Computer Engineering</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box">
                <h2>PROJECTS</h2>
                <div class="project clearfix">
                    <div class="col-xs-12">
                        <div class="title"><strong>THZLAB Personal Blog</strong> - Personal Blog
                            <div class="pull-right">
                                <a class="link" href="http://thzlab.herokuapp.com/">Demo</a> |
                                <a class="link" href="https://github.com/tianhengzhou/myblog">Code</a>
                            </div>
                        </div>
                        <div class="description">
                            The thzlab blog is a project implements Angularjs as FrontEnd, Node.js
                            and Express.js as BackEndserver and MongoDB as database.Also it implements
                            Passport to support third party logins.
                        </div>
                    </div>
                </div>
                <div class="project clearfix">
                    <div class="col-xs-12">
                        <div class="title"><strong>Portfolio</strong> — Scrollable Front Page
                           <div class="pull-right">
                            <a class="link" href="http://thzlab.herokuapp.com/portfolio">Demo</a> |
                            <a class="link" href="https://github.com/tianhengzhou/myblog/blob/master/views/portfolio.ejs">Code</a>
                           </div>
                        </div>
                        <div class="description">
                            This personal portfolio is utilizing Fullpage.js to get the vertically
                            scrollable effect.</div>
                    </div>
                </div>
                <div class="project clearfix">
                    <div class="col-xs-12">
                        <div class="title"><strong>Resume</strong> — Static Single Page
                            <div class="pull-right">
                                <a class="link" href="http://thzlab.herokuapp.com/resume">Demo</a> |
                                <a class="link" href="https://github.com/tianhengzhou/myblog/blob/master/views/resume.ejs">Code</a>
                            </div>
                        </div>
                        <div class="description">
                            This static web resume is using HTML, Javascript and CSS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <div class="box clearfix">
                <h2>Contact</h2>

                <div class="contact-item">
                    <div class="icon pull-left text-center">
                        <span class="fa fa-phone fa-fw"></span>
                    </div>
                    <div class="title only pull-right">541 602 8097</div>
                </div>
                <div class="contact-item">
                    <div class="icon pull-left text-center">
                        <span class="fa fa-envelope fa-fw"></span>
                    </div>
                    <div class="title only pull-right">
                        <a href="mailto:zth198814@gmail.com?Subject=Hi%20Tianheng%20Zhou">zth198814@gmail.com</a>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon pull-left text-center">
                        <span class="fa fa-linkedin fa-fw"></span>
                    </div>
                    <div class="title only pull-right">
                        <a href="https://www.linkedin.com/pub/tianheng-zhou/78/631/b51">Tianheng Zhou</a>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon pull-left text-center">
                        <span class="fa fa-skype fa-fw"></span>
                    </div>
                    <div class="title only pull-right">
                        <a href="skype:tianhengzhou@outlook.com?call">Call Tianheng Zhou</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>Skills</h2>
                <div class="item-skills" data-percent="0.9">HTML5</div>
                <div class="item-skills" data-percent="0.9">CSS3</div>
                <div class="item-skills" data-percent="0.75">Node.js and Express.js</div>
                <div class="item-skills" data-percent="0.5">AngularJs</div>
                <div class="item-skills" data-percent="0.5">Javascript</div>
                <div class="item-skills" data-percent="0.5">jQuery</div>
                <div class="item-skills" data-percent="0.35">Mongo DB</div>
                <div class="skills-legend clearfix">
                    <div class="legend-left legend">Beginner</div>
                    <div class="legend-left legend">Proficient</div>
                    <div class="legend-right legend">Expert</div>
                    <div class="legend-right legend">Master</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64339999-3', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
