<%- include header %>
<% locals.posts.forEach(function (post, index) { %>
<p><h2><a href="/p/<%= post._id%>"><%= post.title %></a></h2></p>
<p class="info">
    Author：<a href="/u/<%= post.name %>"><%= post.name %></a> |
    Date：<%= post.time %>
</p>
<p>Comments: <span class="fb-comments-count" data-href="http://techbow.net:3000/p/<%= post._id%>"></span> Page View: <%= post.pv%> <span class="label label-danger"><%= post.category%></span></p>
<p><%- post.content %></p>
<% }) %>
<%- include footer %>